<main class="content category-page">
    <h1>Danh mục</h1>

    <div class="addCate">
        <a href="?cate/add">Thêm danh mục</a>
    </div>

    <div class="cate_table">
        <div id="cate-head">
            <div class="table-row header">
                <div class="table-cell">
                    ID
                    <a href="" id="sort-by-id"><i class="fa-solid fa-sort"></i></a>
                </div>
                <div class="table-cell">
                    Tên danh mục
                    <a href="" id="sort-by-name"><i class="fa-solid fa-sort"></i></a>
                </div>
                <div class="table-cell">
                    Mô tả
                    <a href="" id="sort-by-desc"><i class="fa-solid fa-sort"></i></a>
                </div>
                <div class="table-cell">
                    Hành động
                    <i class="fa-solid fa-sort"></i>
                </div>
            </div>
        </div>

        <div id="cate-body">
        </div>

        <div id="cate_pagination">

        </div>

    </div>

</main>