<main class="content category-page">
    <h1>Danh mục</h1>

    <div class="addCate">
        <a href="?cate/add">Thêm danh mục</a>
    </div>

    <div class="cate_table">
        <div id="cate-head">
            <div class="table-row header">
                <div class="table-cell">ID</div>
                <div class="table-cell">Tên danh mục</div>
                <div class="table-cell">Mô tả</div>
                <div class="table-cell">Hành động</div>
            </div>  
        </div>

        <div id="cate-body">
        </div>

        <div id="cate_pagination">

        </div>

    </div>

</main>