<main class="content">
    <h1>Sản phẩm</h1>

    <div class="addProduct">
        <a href="?pro/add">Thêm sản phẩm</a>
    </div>

    <div class="product-table">
        <div class="product-table-row-head">
            <div class="product-table-cell">
                ID
                <a href="" id="sort-by-id"><i class="fa-solid fa-sort"></i></a>
            </div>
            <div class="product-table-cell">
                Tên sản phẩm
                <a href="" id="sort-by-name"><i class="fa-solid fa-sort"></i></a>
            </div>
            <div class="product-table-cell">
                Giá
                <a href="" id="sort-by-price"><i class="fa-solid fa-sort"></i></a>
            </div>
            <div class="product-table-cell">
                Ảnh
            </div>
            <div class="product-table-cell">
                Mô tả
                <a href="" id="sort-by-desc"><i class="fa-solid fa-sort"></i></a>
            </div>
            <div class="product-table-cell">
                Hành động
            </div>
        </div>

        <!-- Product 1 -->
        <div id="pro-body">

        </div>
    </div>

    <div id="product-pagination">

    </div>
</main>