<h1>Cập nhật thông tin</h1>
<form action="" id="formProduct">
    <label for="name">Tên sản phẩm</label>
    <input type="text" name="" id="name">
    <label for="price">Giá bán</label>
    <input type="number" name="" id="price">
    <label for="image">Hình ảnh</label>
    <input type="file" name="" id="image">
    <label for="description">Mô tả</label>
    <input type="" name="" id="description" placeholder="Để trống nếu không đổi">
    <label for="category">Danh mục</label>
    <select name="" id="category">

    </select>
    <br>
    <button type="submit">Lưu thay đổi</button>
</form>