<h1>Thêm tài khoản mới</h1>
<form action="" id="formUser">
    <label for="name">Họ và tên</label>
    <input type="text" name="" id="name">
    <label for="name">Email</label>
    <input type="text" name="" id="email">
    <label for="name">Mật khẩu</label>
    <input type="password" name="" id="password">
    <label for="name">Quyền</label>
    <select name="" id="role">
        <option value="customer">Customer (Người dùng)</option>
        <option value="admin">Admin (Người quản trị)</option>
    </select>
    <br>
    <button type="submit">Tạo mới</button>
</form>