<main class="content">
    <h1>Người Dùng</h1>

    <div class="addUser">
        <a href="?user/add">Thêm người dùng</a>
    </div>

    <div class="user_table">
        <div id="head">
            <div class="table-row header">
                <div class="table-cell">ID</div>
                <div class="table-cell">Tên người dùng</div>
                <div class="table-cell">Email</div>
                <div class="table-cell">Vai trò</div>
                <div class="table-cell">Hành động</div>
            </div>
        </div>

        <div id="body">

        </div>

        <div id="pagination">

        </div>

    </div>

</main>