<main>
    
    <!-- <div></div> -->
    <div id="main__primary">


      <div class="main__backdrop"></div>

      <!-- Slider -->
      <section class="slider">
        <div class="slider__wrapper">
          <div class="slider__item">
            <img src="./public/img/banner1.jpg" alt="banner" />
            <div class="slider__item-textbox">
              <h2>Furnitown</h2>
              <p>
                Nơi tìm thấy mảnh ghép nội thất còn thiếu cho ngôi nhà của bạn
              </p>
              <a href="about.html" class="btn">
                <span>về chúng tôi</span>
              </a>
            </div>
          </div>
          <div class="slider__item">
            <img src="./public/img/banner2.jpg" alt="banner" />
            <div class="slider__item-textbox">
              <h2>Furnitown</h2>
              <p>
                Nơi tìm thấy mảnh ghép nội thất còn thiếu cho ngôi nhà của bạn
              </p>
              <a href="about.html" class="btn">
                <span>về chúng tôi</span>
              </a>
            </div>
          </div>
          <div class="slider__item">
            <img src="./public/img/banner3.jpg" alt="banner" />
            <div class="slider__item-textbox">
              <h2>Furnitown</h2>
              <p>
                Nơi tìm thấy mảnh ghép nội thất còn thiếu cho ngôi nhà của bạn
              </p>
              <a href="about.html" class="btn">
                <span>về chúng tôi</span>
              </a>
            </div>
          </div>
        </div>
        <div class="slider__footer">
          <div class="slider__footer-mouse">
            <img src="./public/img/mouse-icon.png" alt="mouse-icon" />
            <span class="--point"></span>
          </div>
          <p>sản phẩm furnitown</p>
        </div>
        <div class="slider__bottom-control">
          <div id="prev" class="btn --notext">
            <i>
              <img src="./public/img/left-arrow-black.svg" alt="icon" />
            </i>
          </div>
          <div id="next" class="btn --notext">
            <i>
              <img src="./public/img/right-arrow-black.svg" alt="icon" />
            </i>
          </div>
        </div>
      </section>

      <section class="room">
        <div class="room__wrapper">
          <div class="container" id="dynamic-room-content">
            <div class="room-dual">
              <div class="room-dual__withinText">
                <div class="room-dual__withinText-quote">
                  <p>
                    “ Hãy đến & khám phá
                    <strong>Funitown</strong>, để có cơ hội thoả sức lựa chọn về
                    màu sắc và kiểu dáng trong thế giới nội thất; cùng sự an tâm
                    trong việc tư vấn chu đáo, tận tình của đội ngũ nhân viên. ”
                  </p>
                </div>
                <div class="room-dual__withinText-img">
                  <div class="img-block">
                    <p>phòng làm việc</p>
                    <div class="img-block-wrapper">
                      <img src="./public/img/working-place.jpg" alt="working-place" />
                      <a href="./view/product-list.html" class="img-block-backdrop">
                        <div class="img-block-backdrop__content">
                          <img src="./public/img/logo-white-notext.png" alt="logo-icon-white" />
                          <p>“Không gian sáng tạo cho sự thành đạt.”</p>
                          <div class="img-block-backdrop__content-btn">
                            <span>more</span>
                            <img src="./public/img/right-arrow-white.png" alt="right-arrow" />
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="room-dual__withoutText">
                <div class="img-block">
                  <p>phòng khách</p>
                  <div class="img-block-wrapper">
                    <img src="./public/img/lounge.jpg" alt="lounge" />
                    <a href="./view/product-list.html" class="img-block-backdrop --yellow">
                      <div class="img-block-backdrop__content">
                        <img src="./public/img/logo-white-notext.png" alt="logo-icon-white" />
                        <p>“ Khám phá nơi trung tâm nhà bạn “</p>
                        <div class="img-block-backdrop__content-btn">
                          <span>more</span>
                          <img src="./public/img/right-arrow-white.png" alt="right-arrow" />
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="room-single">
              <div class="img-block">
                <p>nhà bếp</p>
                <div class="img-block-wrapper">
                  <img src="./public/img/kitchen.jpg" alt="kitchen" />
                  <a href="./view/product-list.html" class="img-block-backdrop">
                    <div class="img-block-backdrop__content">
                      <img src="./public/img/logo-white-notext.png" alt="logo-icon-white" />
                      <p>“Không gian sáng tạo cho sự thành đạt.”</p>
                      <div class="img-block-backdrop__content-btn">
                        <span>more</span>
                        <img src="./public/img/right-arrow-white.png" alt="right-arrow" />
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="room-dual --reverse">
              <div class="room-dual__withinText">
                <div class="room-dual__withinText-quote">
                  <p>
                    “ Hãy đến & khám phá
                    <span>Funitown</span>, để có cơ hội thoả sức lựa chọn về màu
                    sắc và kiểu dáng trong thế giới nội thất; cùng sự an tâm
                    trong việc tư vấn chu đáo, tận tình của đội ngũ nhân viên. ”
                  </p>
                  <img class="pen" src="./public/img/pen.png" alt="pen" />
                </div>
                <div class="room-dual__withinText-img">
                  <div class="img-block">
                    <p>nhà tắm</p>
                    <div class="img-block-wrapper">
                      <img src="./public/img/bathroom.jpg" alt="working-place" />
                      <a href="./view/product-list.html" class="img-block-backdrop">
                        <div class="img-block-backdrop__content">
                          <img src="./public/img/logo-white-notext.png" alt="logo-icon-white" />
                          <p>“Không gian sáng tạo cho sự thành đạt.”</p>
                          <div class="img-block-backdrop__content-btn">
                            <span>more</span>
                            <img src="./public/img/right-arrow-white.png" alt="right-arrow" />
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="room-dual__withoutText">
                <div class="img-block">
                  <p>phòng ngủ</p>
                  <div class="img-block-wrapper">
                    <img src="./public/img/bedroom.jpg" alt="lounge" />
                    <a href="./view/product-list.html" class="img-block-backdrop --yellow">
                      <div class="img-block-backdrop__content">
                        <img src="./public/img/logo-white-notext.png" alt="logo-icon-white" />
                        <p>“Không gian sáng tạo cho sự thành đạt.”</p>
                        <div class="img-block-backdrop__content-btn">
                          <span>more</span>
                          <img src="./public/img/right-arrow-white.png" alt="right-arrow" />
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>