<main class="main product-list-page">
    <div class="main__header">
        <a href="/?page/home">
            <span>furnitown</span>
        </a>
        <a href="#">
            <span>share</span>
        </a>
        <a href="#">
            <img src="../public/img/right-arrow.svg" alt="right-arrow-icon" />
        </a>
    </div>
    <aside class="main__sidebar-btn">
        <div class="main__sidebar-btn--initial">
            <img src="../public/img/logo-icon.png" alt="logo" />
            <div class="--ham-btn">
                <span></span>
            </div>
        </div>
        <div class="main__sidebar-btn--hover">
            <div class="--wrapper">
                <span>menu</span>
                <div class="--logo">
                    <img src="../public/img/logo-menu-hover.png" alt="logo-menu-hover" />
                </div>
            </div>
        </div>
    </aside>
    <aside class="sidebar">
        <div class="sidebar__top">
            <span>furnitown</span>
            <div class="sidebar__top-media">
                <span>follow us</span>
                <a href="#">
                    <img src="../public/img/email-icon.png" alt="email-icon" />
                </a>
                <a href="#">
                    <img src="../public/img/facebook-icon.png" alt="email-icon" />
                </a>
            </div>
        </div>
        <div class="sidebar__middle">
            <div class="sidebar__middle-logo">
                <i>
                    <img src="../public/img/logo-icon.png" alt="logo-icon" />
                </i>
                <div class="-close"></div>
            </div>
            <div class="sidebar__middle-menu">
                <a href="../?page/home">furnitown</a>
                <a href="./product.html">sản phẩm</a>
                <a href="./services.html">dịch vụ</a>
                <a href="./projects.html">dự án</a>
                <a href="?user/login">Người dùng</a>
                <div class="-footer">
                    <a href="#">faqs</a>
                    <a href="news.html">tin tức</a>
                </div>
            </div>
        </div>
    </aside>
    <div class="main__backdrop"></div>

    <!-- Banner -->
    <section class="banner">
        <img src="../public/img/banner-product-list.jpg" alt="banner-product-list" />
        <div class="banner__backdrop"></div>
        <div class="banner__textbox">
            <div class="container">
                <p>
                    giá trị sản phẩm của furnitown không chỉ ở chất
                    lượng, mà còn ở sự tinh tế.
                </p>
            </div>
        </div>
    </section>
    <section class="product">
        <div class="container">
            <div class="product-info">
                <div class="product-info-header">
                    <div class="product-info-header__title">
                        <span>03</span>
                        <div class="-text">
                            <p>Sản phẩm nổi bật trong phân khúc</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nullam leo nisl,
                                convallis in aliquet quis, porta vitae
                                lectus. Duis semper at tellus vitae
                                dignissim.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product-info-content">
                    <div class="product-list">
                        <!-- <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div>
                                <div class="product-list__item">
                                    <div class="product-list__item-detail">
                                        <div class="-img">
                                            <img
                                                src="../public/img/wood-chair.jpg"
                                                alt=""
                                            />
                                        </div>
                                        <p class="-name">Ghế gỗ sồi loại 1</p>
                                        <p class="-price">giá : 700.000 vnd</p>
                                    </div>
                                    <a href="detail.html" class="detail-btn">
                                        <i>
                                            <img
                                                src="../public/img/right-arrow.png"
                                                alt="right-arrow-icon"
                                            />
                                        </i>
                                        <span>chi tiết</span>
                                    </a>
                                </div> -->
                    </div>
                </div>
                <div class="product-info-footer">
                    <i><img src="../public/img/down-arrow-long.svg" alt="down-arrow-long" /></i>
                    <span>xem thêm</span>
                </div>
            </div>
        </div>
    </section>
</main>