
    <div class="main__backdrop"></div>

    <!-- Header -->
    <section class="services-page-header">
      <div class="container">
        <h2>Quản lý thông tin người dùng</h2>

      </div>
    </section>

    <!-- advisory -->
    <section class="services-page-advisory">
      <div class="container">
        <h3>hồ sơ của bạn</h3>
        <div class="services-page-advisory__wrapper">
          <div class="services-page-advisory__text">
            <form id="profileForm" action="">
              <label for="name">Họ và tên</label><br>
              <input type="text" id="name"><br>
              <hr>
              <label for="name">Email</label><br>
              <input type="email" id="email"><br>
              <hr>
              <label for="name">Mật khẩu</label><br>
              <input type="password" placeholder="Để trống nếu không thay đổi" id="pass"><br>
              <hr>
              <label for="name">Nhập lại mật khẩu</label><br>
              <input type="password" placeholder="Để trống nếu không thay đổi" id="re_pass"><br>
              <hr>
              <label for="name">Vai trò</label><br>
              <input type="text" readonly id="role"><br>
              <hr>
              <button type="submit">CẬP NHẬT</button>
            </form>
          </div>
          <div class="services-page-advisory__btn">
            <div class="-wrapper">
              <a href="?user/logout" class="btn-square --active">
                <span>đăng xuất</span>
              </a>
            </div>
            <div class="-wrapper">
              <a href="?page/payment" class="btn-square">
                <span>xem lịch sử mua hàng</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Work -->
    <section class="services-page-work">
      <!-- <div class="container">
          <div class="services-page-work__title">
            <h3>Thi công dự án</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              mollis tristique pellentesque. Praesent dapibus lectus neque, vel
              convallis orci eleifend vel. Phasellus felis lectus, eleifend eget
              quam eu, gravida sagittis urna. Sed nec nibh id nulla feugiat
              sagittis. Maecenas hendrerit blandit pulvinar.
            </p>
          </div>
          <div class="services-page-work__img">
            <img src="../public/img/service-work.jpg" alt="service-work" />
          </div>
        </div> -->
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__logo">
        <img src="../public/img/logo-full.png" alt="logo-full" />
      </div>
      <div class="footer__info">
        <span>Thời gian mở cửa: 8h - 18h - Thứ 2 đến Chủ nhật</span>
        <span>Số 7/22A, Ấp 6, xã Đông Thạnh, huyện Hóc Môn, thành phố Hồ Chí
          Minh</span>
        <span>Hotline: 0937.168.938</span>
        <span>Email: noithatfunitown@gmail.com</span>
      </div>
      <div class="footer__scroll-top">back to top</div>
    </div>
  </footer>
  <!-- JS -->
  <script src="../public/dest/jsmain.min.js"></script>
  <script src="../public/dest/jquerymain.js"></script>
</body>

</html>